/* Default Settings */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/* Transitions */

body {
    animation: fade 1s forwards;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes move {
    from {transform: translateX(130%)}
    to {transform: translateX(-130%)}
}

/* Header Section */

.header {
    align-items: center;
    border-bottom: 1px solid #000000;
    background-color: #FFFFFF;
    display: flex;
    height: 9.5rem;
    justify-content: center;
    padding: 6rem 4rem;
}

.logo {
    height: 5rem
}

.main-navig-list {
    align-items: center;
    display: flex;
    gap: 3rem;
    list-style: none;
}

.main-navig-link:link, .main-navig-link:visited {
    display: inline-block;
    color: #000000;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s;
}

.main-navig-link:hover, .main-navig-link:active {
    transform: translateY(-5px);
}

.main-navig-link.navig-cta:link, .main-navig-link.navig-cta:visited {
    border: 1px solid #000000;
    background-color: #FFFFFF;
    color: #000000;
    padding: 1.5rem 1.5rem;
}

.main-navig-link.navig-cta:hover, .main-navig-link.navig-cta:active {
    border: 1px solid #FFFFFF;
    background-color: #000000;
    color: #FFFFFF;
    transform: none;
}

/* Index Section */

.section-index {
    background-color: #FFFFFF;
    padding: 11rem 0 10rem 0;
}

.index {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 130rem;
    margin: 0 auto;
    padding: 2rem 3rem;
}

.index-img {
    border: 1px solid #000000;
    border-radius: 70px;
    width: 80%;
}

/* About Section */

.section-about {
    background-color: #FFFFFF;
    padding: 3rem 0 10rem 0;
}

.heading-text-box {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.3rem;
}

.primary-heading {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-size: 7rem;
    font-weight: 700;
    margin-bottom: 3rem;
    margin-top: 3rem;
    text-align: center;
}

.primary-description {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-size: 2.3rem;
    font-weight: 400;
    margin-bottom: 3rem;
    text-align: center;
}

.about {
    align-items: center;
    display: grid;
    gap: 10rem;
    grid-template-columns: 1fr 1fr;
    max-width: 130rem;
    margin: 0 auto;
    padding: 11rem 3rem;
}

.step-number {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-size: 7rem;
    font-weight: 700;
}

.step-title {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
}

.step-title-one, .step-number-one {
    color: #323BB6;
}

.step-title-two, .step-number-two {
    color: #F34141;
}

.step-title-three, .step-number-three {
    color: #F9FF63;
}

.step-description {
    color: #000000;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.3;
}

.description-link {
    color: #000000;
    font-weight: 600;
    text-decoration: none;
}

.about-img-box {
    align-items: center;
    display: flex;
    justify-content: center;
}

.step-img {
    width: 100%;
    transition: all 0.3s;
}

/* Packages Section */

.section-packages {
    background-color: #FFFFFF;
    padding: 3rem 0 10rem 0;
}

.package {
    align-items: center;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 130rem;
    margin: 0 auto;
    padding: 11rem 3rem;
}

.package-plan {
    border: 1px solid #000000;
    background-color: #FFFFFF;
    padding: 5rem;
    width: 100%;
    text-align: center;
}

.package-name, .package-price {
    font-family: "Zalando Sans Expanded", sans-serif;
    margin-bottom: 1rem;
}

.package-name {
    color: #000000;
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.package-price {
    color: #000000;
    font-size: 10rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.fa-fire-flame-simple, .fa-fire-flame-curved, .fa-fire {
    color: #000000;
    font-size: 4.5rem;
    margin-bottom: 3rem;
}

.package-price span {
    font-size: 2rem;
    font-weight: 500;
    margin-left: 0.5rem;
}

.package-attributes {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
}

.package-attribute {
    color: #000000;
    display: flex;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    gap: 0.6rem;
    line-height: 0.8;
}

.package-attribute span {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
}

.btn, .btn:link, .btn:visited {
    border: none;
    cursor: pointer;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1.5rem;
    text-decoration: none;
    transition: all 0.3s;
}

.btn-full:link, .btn-full:visited {
    border: 1px solid #000000;
    background-color: #FFFFFF;
    color: #000000;
}

.btn-full:hover, .btn-full:active {
    background-color: #000000;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.btn-outline:link, .btn-outline:visited {
    background-color: #000000;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.btn-outline:hover, .btn-outline:active {
    background-color: #000000;
    border: 1px solid #000000;
    color: #FCFFA2;
}

.package-sign-up {
    margin-top: 5rem;
    text-align: center;
}

.package-information {
    color: #000000;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.package-information span {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

.package-conditions {
    color: #000000;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: 200;
    font-size: 1.8rem;
    text-align: center;
}

.package-conditions span {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
}

/* Portfolio Section */

.section-portfolio {
    background-color: #FFFFFF;
    padding: 3rem 0 10rem 0;
}

.portfolio {
    align-items: center;
    display: grid;  
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 130rem;
    margin: 0 auto;
    padding: 11rem 3rem;
}

.portfolio-img {
    border: 1px solid #000000;
    cursor: pointer;
    width: 100%;
}

/* CTA Section */

.section-cta {
    background-color: #FFFFFF;
    padding: 3rem 0 10rem 0;
}

.cta {
    max-width: 130rem;
    margin: 0 auto;
    padding: 11rem 3rem;
}

.contact {
    border: 1px solid #000000;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 68rem;
    margin-bottom: 3rem;
    overflow: hidden;
}

.cta-heading {
    color: #000000;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.cta-text-box {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta-text {
    color: #000000;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-size: 4rem;
    font-weight: 200;
    margin-bottom: 3rem;
}

.cta-form {
    column-gap: 3rem;
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr;
    row-gap: 2rem;
}

.cta-form label {
    color: #000000;
    display: block;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.cta-form input, .cta-form select, .cta-form textarea {
    appearance: none;
    border: 1px solid #000000;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-size: 1.3rem;
    padding: 1.5rem;
    width: 100%;
}

.cta-form textarea {
    height: 10rem;
    resize: none;
}

.cta-img-box {
    background-image: url(../imgs/cta-img.png);
    background-size: cover;
    background-position: center;
}

.btn-form {
    align-self: end;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 1.6rem;
    padding: 1.5rem;
}

.btn-form:hover, .btn-form:active {
    border: 1px solid #FFFFFF;
    background-color: #000000;
    color: #FFFFFF;
}

/* Footer Section */

.section-footer {
    border-top: 1px solid #000000;
    background-color: #000000;
    overflow: hidden;
    padding: 3rem 0 0 0;
}

.footer {
    max-width: 130rem;
    margin: 0 auto;
}

.footer-information {
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-bottom: 3.3rem;
}

.platform-link:link, .platform-link:visited {
    animation: move 20s linear infinite;
    color: #FFFFFF;
    display: block;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s;
    white-space: nowrap;
}

/* Media Queries */
/* Below 1344px: Laptops */

@media (max-width: 84em) {

.section-about {
    background-color: #FFFFFF;
    padding: 3rem 10rem 10rem 10rem;
}

.step-number {
    font-size: 6rem;
}

.step-title {
    font-size: 3rem;
}

.step-description {
    font-size: 2rem;
}

.section-packages {
    background-color: #FFFFFF;
    padding: 3rem 10rem 10rem 10rem;
}

.section-portfolio {
    background-color: #FFFFFF;
    padding: 3rem 10rem 10rem 10rem;
}

.section-cta {
    background-color: #FFFFFF;
    padding: 3rem 10rem 10rem 10rem;
}

}

/* Below 1300px: Laptops */

@media (max-width: 81.25em) {

.primary-heading {
    font-size: 6rem;
}

.step-number {
    font-size: 5.3rem;
}

.step-title {
    font-size: 2.5rem;
}

.step-description {
    font-size: 1.8rem;
}

.section-packages {
    background-color: #FFFFFF;
    padding: 3rem 5rem 5rem 5rem;
}

.package-attribute {
    font-size: 1.9rem;
}

.package-attribute span {
    font-size: 1.9rem;
}

.package-information {
    font-size: 1.9rem;
}

.package-name {
    font-size: 2.6rem;
}

.package-additional {
    font-size: 1.9rem;
}

.package-additional span {
    font-size: 1.9rem;
}


}

/* Below 1200px: Tablets */

@media (max-width: 75em) {

.primary-heading {
    font-size: 5.3rem;
}

.step-number {
    font-size: 4.5rem;
}

.step-title {
    font-size: 2.3rem;
}

.step-description {
    font-size: 1.7rem;
}

.section-packages {
    background-color: #FFFFFF;
    padding: 3rem 1rem 1rem 1rem;
}

.package-name {
    font-size: 2.5rem;
}

.package-attribute {
    font-size: 1.8rem;
}

.package-attribute span {
    font-size: 1.8rem;
}

.package-information {
    font-size: 1.3rem;
}

.package-additional {
    font-size: 1.8rem;
}

.package-additional span {
    font-size: 1.8rem;
}

.package-conditions {
    margin-bottom: 5rem;
}

.section-portfolio {
    background-color: #FFFFFF;
    padding: 3rem 4rem 4rem 4rem;
}

.section-cta {
    background-color: #FFFFFF;
    padding: 3rem 4rem 4rem 4rem;
}
}

/* Below 1080px: Tablets */

@media (max-width: 67.5em) {

.about {
    grid-template-columns: 1fr;
    text-align: center;
}

.step-number {
    font-size: 3.5rem;
}

.step-title {
    font-size: 2.3rem;
}

.step-description {
    font-size: 2rem;
}

.step-img {
    width: 80%;
}

.section-packages {
    padding: 3rem 3rem 3rem 3rem;
}

.package {
    grid-template-columns: 1fr;
}

.package-name {
    font-size: 4rem;
}

.package-attribute {
    font-size: 2.3rem;
}

.package-attribute span {
    font-size: 2.3rem;
}

.package-additional {
    font-size: 2rem;
}

.package-additional span {
    font-size: 2rem;
}

}

/* Need To Add Another Query Between Tablets & Smartphones */

/* Below 544px: Smartphones */

